{% extends "ContactBundle::main.html.twig" %}

{% block title %}Edit contact{% endblock %}

{% block body %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="well">
        {{ form(form) }}
    </div>

    <div class="well">
        {{ form(addressForm) }}
    </div>

    <div class="well">
        {{ form(emailForm) }}
    </div>

    <div class="well">
        {{ form(phoneForm) }}
    </div>

    <div class="well">
        {{ form(groupForm) }}
    </div>

{% endblock %}
