{% extends "ContactBundle::main.html.twig" %}

{% block title %}All contacts{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div> {{ flash_message }} </div><br>
    {% endfor %}

    {{ form_start(search) }}
    {{ form_widget(search) }}
    {{ form_end(search) }}

    <p>All contacts:</p>
    <ul>
    {% for contact in contacts %}
        <li>
            <a href="{{ path('contact_contact_show', {'id':contact.id}) }}">
                {{ contact.name }} {{ contact.surname }}
            </a> -

            <a href="{{ path('contact_contact_delete', {'id':contact.id}) }}">Delete</a>
            <a href="{{ path('contact_contact_modify', {'id':contact.id}) }}">Edit</a>
        </li>
    {% else %}
        <li>Brak kontaktów</li>
    {% endfor %}
    </ul>
    <a href="{{ path('contact_contact_create') }}">Add contact</a><br>
    <a href="{{ path('contact_group_new') }}">Add group</a><br>
    <a href="{{ path('contact_group_showall') }}">Show all group</a><br>
{% endblock %}
