{% extends "ContactBundle::main.html.twig" %}

{% block title %}All contacts{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flash_message }} </div><br>
    {% endfor %}

    <div class="well" style="width: 260px;; margin: auto;">
        {{ form_start(search, { 'attr': {'style': 'margin: 0; padding: 0; display: inline;'} }) }}
        {{ form_errors(search) }}
        {{ form_widget(search.searchPhrase) }}
        {{ form_widget(search.Search) }}
        {{ form_end(search) }}
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for contact in contacts %}
            <tr>
                <td>
                    <a href="{{ path('contact_contact_show', {'id':contact.id}) }}">{{ contact.name }}</a>
                </td>
                <td>
                    <a href="{{ path('contact_contact_show', {'id':contact.id}) }}">{{ contact.surname }}</a>
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" href="{{ path('contact_contact_delete', {'id':contact.id}) }}">Delete</a>
                    <a class="btn btn-primary btn-xs" href="{{ path('contact_contact_modify', {'id':contact.id}) }}">Edit</a>
                </td>
                </li>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No contacts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-success btn-xs" href="{{ path('contact_contact_create') }}">Add contact</a>
    <a class="btn btn-success btn-xs" href="{{ path('contact_group_new') }}">Add group</a>
    <a class="btn btn-primary btn-xs" href="{{ path('contact_group_showall') }}">Show all groups</a><br>
{% endblock %}
