{% extends "ContactBundle::main.html.twig" %}

{% block title %}All groups{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div> {{ flash_message }} </div><br>
    {% endfor %}
    <p>All groups:</p>

    <table class="table table-hover" >
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for group in groups %}
            <tr>
                <td><a href="{{ path('contact_group_show', {'id':group.id}) }}">{{ group.name }}</a></td>
                <td><a class="btn btn-danger btn-xs"
                       href="{{ path('contact_group_delete', {'id':group.id}) }}">Delete</a></td>
            </tr>
        {% else %}
            No groups
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success btn-xs" href="{{ path('contact_group_new') }}">Add group</a>
    <a class="btn btn-primary btn-xs" href="{{ path('contact_contact_showall') }}">All contacts</a>

{% endblock %}
